/* Coolors Exported Palette - coolors.co/d8dada-4c4b51-1a2024-6f8291-656854 */

/* RGB */
$color1: rgba(216, 218, 218, 1);
$color2: rgba(76, 75, 81, 1);
$color3: rgba(26, 32, 36, 1);
$color4: rgba(111, 130, 145, 1);
$color5: rgba(101, 104, 84, 1);

$grey0: HSL(0, 0%, 98%);
$grey1: HSL(0, 0%, 96%);
$grey2: HSL(0, 0%, 93%);
$grey3: HSL(0, 0%, 85%);
$grey4: HSL(0, 0%, 42%);
$grey5: HSL(0, 0%, 27%);
$primary: HSL(149, 100%, 18%);
